# Dependencies
node_modules/

# Logs
logs
*.log

# Environment files
.env
.env.local
.env.production

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/*
!.vscode/settings.json